# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\upwork\Azure_JobShop\job-shop-webapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
